.no-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.description {
  color: var(--gray-400);
  font-size: 1.35rem;
  text-align: center;
}

.icon-screen {
  color: var(--blue-400);
}
