
.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  padding: .5rem 1.5rem;
  border-radius: 20rem;
  border: 1px solid transparent;

  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;

  transition: .2s ease-out;

  &.muted {
    color: var(--muted);
    background-color: var(--white);

    &:hover {
      background-color: var(--purple-100);
    }
  }

  &.primary {
    color: var(--white);
    border: var(--primary);
    background-color: var(--primary);
    box-shadow: var(--button-action-shadow);

    &:hover {
      background-color: var(--purple-400);
    }
  }
}
