.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 582px;
  height: 691px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.404);
  position: relative;
  padding-top: 20px;

  #textoSolicitacao {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  #textoEmail {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }

  #textoAguarde {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }

  .voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 422px;
    height: 53px;
    background-color: rgba(3, 143, 236, 1);
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-top: auto; /* Posiciona o botão no fim do contêiner */
    text-align: center;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */

    &:hover {
      background-color: darken(rgba(3, 143, 236, 1), 10%);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 10px solid rgba(249, 35, 35, 0.1);
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 160px; /* Aumenta o tamanho do círculo */
  height: 160px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px; /* Espaço abaixo do loader */
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px; /* Espaço acima do contêiner de carregamento */
}

.pagina-solicitacao {
  min-height: 100vh;
  background: linear-gradient(to right, #3f5efb, #a48ef9);
  display: flex;
  justify-content: center;
  align-items: center;


  input[type="text"] {
    width: 100%;
    height: 53px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 16px;
    background-color: white;
    margin-bottom: 15px;
  }
}